body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(180deg, #000000, #001f3f);
  color: #00aaff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border: 2px solid #00aaff;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.message {
  font-size: 1.2em;
  margin-bottom: 30px;
  max-width: 500px;
}

button {
  background-color: #00aaff;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0077aa;
  color: white;
}

.hidden {
  display: none;
  margin-top: 20px;
  font-size: 1.5em;
  color: #ffffff;
}

#secret {
  position: fixed;   /* fixa na tela */
  bottom: 20px;      /* distância da borda inferior */
  right: 20px;       /* distância da borda direita */
  background-color: #001f3f;
  color: #00aaff;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1em;
}

#img{
    border-radius: 20px;
    border: #00aaff solid;
}